.App {
  text-align: center;
}

.restaurant-table {
  margin-top: 1%;
  margin-right: 20%;
  float: right;
}

.restaurant-table > .buttons > .previous,
.next {
  font-size: 18px;
  margin: 2px;
}

.restaurant-table > #searchInput {
  min-width: 220px;
}
